* {
    margin: 0;
    padding: 0;
}

header {
    padding-top: 20px;
    background-color: black;
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}

.menu-word a {
   font-weight: bold;
   font-style: italic;
   font-size: 30px;
   text-decoration: none;
   color: white;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    display: flex;
}

.logo a {
    text-decoration: none;
    font-size: 24px;
    color:aliceblue;
}

.menu ul {
    display: flex;
}

.menu li {
    margin-left: 40px;
}

.menu a {
    text-decoration: none;
    color:aliceblue;
    padding: 20px;
    border: 10px;
    font-size: 18px;
    transition: color 0.3s ease;
}

.menu a:hover {
    background-color:  rgb(91, 89, 89);
    width: 600px;
    height: 600px;
}

.contener {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 500px);
    place-items: center;
    margin: 10em;
    margin-top: 100px;
}

.contener img {
    width: 300px;
}

.footer-main {
    width: 100%;
    height: 200px;
    background: linear-gradient(to left, rgb(78, 78, 78), rgb(91, 89, 89) );
    border-radius: 10px;
}

.footer-main {
    background-color: rgb(132, 132, 132) ;
    width: 100%;
    height: 120px;
}

.footer-main a {
    color: black;
    text-decoration: none;
}

.footer_icon {
    display: inline-flex;
    margin-left: 130px;
    margin-top: 50px;
}

.footer a {
    color: rgb(0, 0, 0);
}

footer img {
    width: 30px;
}

.footer_icon p {
    text-align: center;
    margin-left: 10px;
    margin-top: 5px;
}